<!-- BEGIN PAGE LEVEL STYLES --> 
<link rel="stylesheet" type="text/css" href="/Template/admin/plugins/select2/select2_metro.css" />
<link rel="stylesheet" type="text/css" href="/Template/admin/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
<link rel="stylesheet" type="text/css" href="/Template/admin/plugins/jquery-tags-input/jquery.tagsinput.css" />

<link rel="stylesheet" href="/Template/admin/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" />

<style>
.md-preview img {
	max-width: 100%;
}
</style>

<!-- END PAGE LEVEL SCRIPTS -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN VALIDATION STATES-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-reorder"></i>
				<if condition="$action eq 'create' ">创建文章<else />编辑文章【{$article_info['title']}】</if>
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#" id="form_create_article" class="form-horizontal">
					<div class="form-body">
						<div class="alert alert-danger display-hide">
							<button class="close" data-close="alert"></button>
							您填写的内容有些不符合规范，请按照提示改正！
						</div>
						<div class="alert alert-success display-hide">
							<button class="close" data-close="alert"></button>
							您填写的内容检测通过！
						</div>
						<div class="form-group">
							<label class="control-label col-md-2">标题</label>
							<div class="col-md-4">
								<input type="text" name="Article[title]" data-required="1" class="form-control" value="{$article_info['title']}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2">标签</label>
							<div class="col-md-9">
								<input id="tags" type="text" name="Article[tags]" class="form-control tags" value="{$article_info['tags']}" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2">类型</label>
							<div class="col-md-4">
								<select class="form-control" name="Article[type_id]">
									<volist name="type_list" id="type">
										<if condition="$type.id eq $article_info['type_id']">
											<option value="{$type.id}" selected>{$type.title}</option>
										<else /> 
											<option value="{$type.id}">{$type.title}</option>
										</if>
									</volist>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2">内容</label>
							<div class="col-md-9">
								<textarea name="Article[content]"  id="content-markdown" rows="20" data-error-container="#editor_error">{$article_info['content']}</textarea>
								<div id="editor_error"></div>
							</div>
						</div>
					</div>
					<div class="form-actions fluid">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn green">提交</button>
							<a href="<?php echo U('ArticleList/index'); ?>" class="btn default">取消</a>                           
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
			<!-- END VALIDATION STATES-->
		</div>
	</div>
</div>



<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" data-backdrop='false'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">图片选择</h4>
			</div>
			<div class="modal-body">
			    <span class="btn btn-success fileinput-button">
			        <i class="glyphicon glyphicon-plus"></i>
			        <span>添加图片</span>
			        <!-- The file input field used as target for the file upload widget -->
			        <input id="fileupload" type="file" name="files[]" multiple>
			    </span>
			    <br>
			    <br>
			    <!-- The global progress bar -->
			    <div id="progress" class="progress">
			        <div class="progress-bar progress-bar-success"></div>
			    </div>
			    <!-- The container for the uploaded files -->
			    <div id="files" class="files"></div>
			</div>
			<div class="modal-footer">
				<!-- 
					<button type="button" class="btn blue">上传</button>
				 -->
				<button type="button" class="btn default" data-dismiss="modal">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script src="/Template/admin/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Template/admin/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/Template/admin/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/Template/admin/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/jquery-validation/dist/additional-methods.min.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/bootstrap-markdown/lib/markdown.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/jquery-tags-input/jquery.tagsinput.min.js" ></script>
<script type="text/javascript" src="/Template/admin/plugins/bootbox/bootbox.min.js" ></script>


<!-- END PAGE LEVEL PLUGINS -->
<script>
jQuery(document).ready(function() {   
	
	var form3 = $('#form_create_article');
	var error3 = $('.alert-danger', form3);
	var success3 = $('.alert-success', form3);
	
    form3.validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            'Article[title]': {
            	required: true,
            	rangelength:[1,80],
            },
            'Article[type_id]': {
            	required: true,
            },
            'Article[content]': {
            	required: true,
            },
        },
        messages: { // custom messages for radio buttons and checkboxes
        	'Article[title]': {
            	required: '请填写标题',
            	rangelength:'长度只能在1-80之间',
            },
            'Article[type_id]': {
            	required: '请选择类型',
            },
            'Article[content]': {
            	required: '内容不能为空',
            },
        },
        errorPlacement: function (error, element) { // render error placement for each input type
            if (element.parent(".input-group").size() > 0) {
                error.insertAfter(element.parent(".input-group"));
            } else if (element.attr("data-error-container")) { 
                error.appendTo(element.attr("data-error-container"));
            } else if (element.parents('.radio-list').size() > 0) { 
                error.appendTo(element.parents('.radio-list').attr("data-error-container"));
            } else if (element.parents('.radio-inline').size() > 0) { 
                error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
            } else if (element.parents('.checkbox-list').size() > 0) {
                error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
            } else if (element.parents('.checkbox-inline').size() > 0) { 
                error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
            } else {
                error.insertAfter(element); // for other inputs, just perform default behavior
            }
        },
        invalidHandler: function (event, validator) { //display error alert on form submit   
            success3.hide();
            error3.show();
            //App.scrollTo(error3, -200);
        },
        highlight: function (element) { // hightlight error inputs
           $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
        },
        unhighlight: function (element) { // revert the change done by hightlight
            $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error'); // set success class to the control group
        },
        submitHandler: function (form) {
            success3.show();
            error3.hide();
            $.ajax({
                type:'post',
                url: window.location.href ,
                dataType:"json", 
                data:{
                	'Article[title]' : $("input[name='Article[title]']").val(),
                    'Article[type_id]' : $("select[name='Article[type_id]']").val(),
                    'Article[tags]' : $("input[name='Article[tags]']").val(),
                    'Article[content]' : $("textarea[name='Article[content]']").val(),
                },
                success:function(data){
                    var errcode = data['errcode'];
					if(errcode == 0){
						window.location.href= "<?php echo U('ArticleList/index'); ?>"; 
					}else{
						bootbox.alert(data['msg'], function() {
	                        location.reload();
	                    });
					}
                }   
            });
        }

    });
	
    $('#tags').tagsInput({width: 'auto'});
    
    $("#content-markdown").markdown({
    	  additionalButtons: [
           [{
        	   name: "groupCustom",
               data: [{
                     name: 'cmdImage2',
                     title: '上传本地图片',
                     icon: 'glyphicon glyphicon-picture',
                     callback: function(e){
                    	 $("#files p").remove();
                    	 $("#progress .progress-bar").css("width","0%");
                    	 $('#basic').modal('show');
                     }
               }]
           }]
         ]
    });
	
    
    $('#fileupload').fileupload({
        url: "<?php echo U('Util/uploadImg')?>",
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
            	//![Alt text](/Upload/fef5416q185fefwef.png)
            	//url-对应所在的地址,thumbnailUrl-缩略图地址
                $('<p/>').text('![Alt text]('+ file.url +')').appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    
    
});
</script>