<link href="/Template/admin/css/pages/blog.css" rel="stylesheet" type="text/css"/>
<style>
.view-content code {
	border: 0px solid #e1e1e1 !important;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1) !important;
}

.view-content img {
	max-width: 100%;
}

.pages {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;	
}
</style>

<div class="row">
	<div class="col-md-12 blog-page">
		<div class="row">
			<div class="col-md-12 article-block">
				<h3>{$info['title']}</h3>
				<div class="blog-tag-data">
					<!-- 
					<img src="/Template/admin/img/gallery/item_img.jpg" class="img-responsive" alt="">
					 -->
					<div class="row">
						<div class="col-md-6">
							<ul class="list-inline blog-tags">
								<li>
									<i class="fa fa-tags"></i> 
									<volist name="tags" id="tag">
										<a href="#">{$tag}</a> 
									</volist>
								</li>
							</ul>
						</div>
						<div class="col-md-6 blog-tag-data-inner">
							<ul class="list-inline">
								<li><i class="fa fa-calendar"></i> <a href="#">{$info['ctm']}</a></li>
								<li><i class="fa fa-comments"></i> <a href="#">{$info['comments_num']} 评论</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!--end news-tag-data-->
				<div class="view-content">
				{$info['content']}
				</div>
				<hr>
				
				
				<h3 id="comment-start">游客评论区</h3>
				<volist name="comments_list" id="comment" key="k">
				<div class="media">
					<a href="#" class="pull-left">
						<if condition="$comment.is_admin neq 1">
							<img alt="" src="/Template/admin/img/blog/21.png" class="media-object">
						<else />
							<img alt="" src="/Upload/headimg/saki.jpg" class="media-object">
						</if>
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<if condition="$p eq null">
								#{$k+(1-1)*3}
							<else /> 
								#{$k+($p-1)*3}
							</if>
							
							<if condition="$comment.is_admin neq 1">
								<if condition="$comment.name neq null">
									{$comment.name}
								<else />
									匿名游客
								</if>
							<else />
								<font color="#E74570">站长</font>
							</if>
							
							<span>
								{$comment.ctm} / 
								<a href="javascript:void(0);" class="reply" data-name='#{$k}' data-id='{$comment.id}'>回复</a>
								/
									<a href="<?php echo U('ArticleComment/delete',array('id'=>$comment['id'],'aid'=>$comment['aid'])); ?>" data-id='{$comment.id}'>删除</a>
							</span>
						</h4>
						<p>{$comment.content}</p>
						<if condition="$comment.comment_sec neq null">
							<hr>
							<volist name="comment.comment_sec" id="comment_sec" >
							<div class="media">
								<a href="#" class="pull-left">
									<if condition="$comment_sec.is_admin neq 1">
										<img alt="" src="/Template/admin/img/blog/22.png" class="media-object">
									<else />
										<img alt="" src="/Upload/headimg/saki.jpg" class="media-object">
									</if>
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										
										<if condition="$comment_sec.is_admin neq 1">
											<if condition="$comment_sec.name neq null">
												{$comment_sec.name}
											<else />
												匿名游客
											</if>
										<else />
											<font color="#E74570">站长</font>
										</if>
										
										<span>
											{$comment_sec.ctm} /
											<a href="<?php echo U('ArticleComment/delete',array('id'=>$comment_sec['id'],'aid'=>$comment_sec['aid'])); ?>" data-id='{$comment.id}'>删除</a>
										</span>
									</h4>
									<p>{$comment_sec.content}</p>
								</div>
							</div>
							</volist>
						</if>
					</div>
				</div>
				<hr>
				</volist>
				<div style="margin-top:-1em;text-align: right;">
					<div style="display: inline-block;">{$page}</div>
				</div>
				
				
				<div class="post-comment">
					<h3 id="post-comment-start">发表评论</h3>
					<form id="post-comment" action="/ArticleComment/postComment" method="post">
						<input type="hidden"  name="ArticleComment[aid]" value="{$info.id}">
						<input type="hidden" id="ArticleCommentPid"  name="ArticleComment[pid]" value="0">
						<div class="form-group">
							<label class="control-label">评论信息</label>
							<textarea class="col-md-10 form-control" rows="8" name="ArticleComment[content]"></textarea>
						</div>
						<button class="margin-top-20 btn blue" type="button" id="comment-submit">提交评论</button>
						<button class="margin-top-20 btn blue" type="button" style="display:none" id="no-obj">取消回复对象</button>
					</form>
				</div>
			</div>
			<!--end col-md-9-->
		</div>
	</div>
</div>

<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shCore.js"></script>

<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shAutoloader.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushAppleScript.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushAS3.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushColdFusion.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushErlang.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJavaFX.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushSass.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushScala.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shLegacy.js"></script>

<link href="/Template/admin/plugins/SyntaxHighlighter3/styles/shCoreDefault.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
SyntaxHighlighter.all();

//评论提交
$('#comment-submit').click(function(){
	$('#post-comment').submit();
});

$('.media-heading .reply').click(function(){
	$("html,body").stop(true);
	$("html,body").animate({scrollTop: $("#post-comment-start").offset().top}, 10);
	//
	var id = $(this).attr('data-id');
	var name = $(this).attr('data-name');
	$('#ArticleCommentPid').val(id);
	//
	$('#post-comment-start').text('回复'+name);
	$('#post-comment-start').css('color','#E24C6D');
	//
	$('#no-obj').show();
});

$('#no-obj').click(function(){
	$(this).hide();
	$('#ArticleCommentPid').val(0);
	$('#post-comment-start').text('发表评论');
	$('#post-comment-start').css('color','#1b252a');
});
</script>


<if condition="$p neq 0">
<script type="text/javascript">
function mScroll(){
	$("html,body").stop(true);
	$("html,body").animate({scrollTop: $("#comment-start").offset().top-355},100);
} 
mScroll();
</script>
</if>