<style>
.media-heading span {
	color: #777777;
	font-size: 14px;
	position: relative;
	right: -1px;
	top: 0px;
	float: right;
}

.media-heading span a {
	color: #5987CF;
}

.media-heading span a:hover {
	text-decoration: underline;
}

.comment-h2 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
}

.comment-in {
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #eee;
	padding: 10px 10px 0px 10px;
	margin-left: 50px;
}

.control-label{
	color: #2C2C2C;
}
</style>

<div id="content">
	<div id="content-inner">
		<!-- 内容显示区 -->
		<article class="is-post is-post-excerpt">
			<header>
				<h2>{$info.title}</h2>
			</header>
			<div class="info">
				<span class="date">
					<span class="month">{$info.ctm_M}<span>{$info.ctm_F}</span></span> 
					<span class="day">{$info.ctm_D}</span>
					<span class="year">, {$info.ctm_Y}</span>
				</span>
				<ul class="stats">
					<li><a href="#" class="link-icon24 link-icon24-1">42</a></li>
				</ul>
			</div>
			<div class="content" style="height:auto">
				{$info.content}
			</div>
		</article>
		
		<!-- 评论显示区 -->
		<hr>
		<h2 class="comment-h2" >游客评论区</h2>
		
		
		
		
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">
					Media heading 
					<span>2014-12-26 17:45:18 / <a href="#">回复</a></span>
				</h4>
				<p>123</p>
				<hr>
			</div>
		</div>
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">
					Media heading 
					<span>2014-12-26 17:45:18 / <a href="#">回复</a></span>
				</h4>
				<p>123</p>
				<hr>
			</div>
		</div>
		
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">
					Media heading 
					<span>2014-12-26 17:45:18 / <a href="#">回复</a></span>
				</h4>
				<p>123</p>
			</div>
			<div class="media-body comment-in">
				<h4 class="media-heading">Media heading <span>July 5,2013 / <a href="#">Reply</a></span></h4>
				<p>33223</p>
				
				<h4 class="media-heading">Media heading <span>July 5,2013 / <a href="#">Reply</a></span></h4>
				<p>33223</p>
			</div>
		</div>
		
		<!--end media-->
		
		<!-- 填写评论区 -->
		<hr>
		<h2 class="comment-h2" >发表评论</h2>
		<div class="post-comment">
			<form  action="#">
				<div class="form-group">
					<label class="control-label">昵称</label>
					<span style="float:right">(未填写则默认为【匿名游客】)</span>
					<input type="text" class="form-control">
				</div>
				<br>
				<div class="form-group">
					<label class="control-label">邮件</label>
					<span style="float:right">(如填写，当有回复的时会发送邮件提醒)</span>
					<input type="text" class="form-control">
				</div>
				<br>
				<div class="form-group">
					<label class="control-label">评论信息</label>
					<textarea class="col-md-10 form-control" rows="8"></textarea>
				</div>
				<button style="border: none;" class="button" type="button">提交评论</button>
			</form>
		</div>
		
	</div>
</div>


<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shCore.js"></script>

<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushAppleScript.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushAS3.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushColdFusion.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushErlang.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJavaFX.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushSass.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushScala.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shLegacy.js"></script>

<link href="/Template/admin/plugins/SyntaxHighlighter3/styles/shCoreDefault.css" type="text/css" rel="stylesheet" />
<link href="/Template/css/markdown.css" rel="stylesheet" type="text/css">

<script type="text/javascript">SyntaxHighlighter.all();</script>