<style>
.media-heading span {
	color: #777777;
	font-size: 14px;
	position: relative;
	right: -1px;
	top: 0px;
	float: right;
}
.media-heading span a {
	color: #5987CF;
}
.media-heading span a:hover {
	text-decoration: underline;
}
.comment-h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 20px;
}
.comment-in {
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #eee;
	padding: 10px 10px 0px 10px;
	margin-left: 50px;
}
.control-label{
	color: #2C2C2C;
}
a.button:active{
	color: #FFF;
}

th {
  font-weight: bold;
}
.content table{
	font-size:14px;
	width: auto;
	border-width: 1px 0 0 1px;
	border-color: #bbb;
	border-style: solid;
}

.content table td, .content table th {
  border-width: 0 1px 1px 0;
  border-color: #bbb;
  border-style: solid;
  padding: 5px;
}

.media-commit-img{
  height: 60px;
  position: relative;
  top: 30px;
  width: 60px;
  float: left;
}
</style>

<div id="content">
	<div id="content-inner">
		<!-- 内容显示区 -->
		<article class="is-post is-post-excerpt">
			<header>
				<h2>{$info.title}</h2>
			</header>
			<div class="info">
				<span class="date">
					<span class="month">{$info.ctm_M}<span>{$info.ctm_F}</span></span> 
					<span class="day">{$info.ctm_D}</span>
					<span class="year">, {$info.ctm_Y}</span>
				</span>
				<ul class="stats">
					<li><a href="#" class="link-icon24 link-icon24-1">{$info.comments_num}</a></li>
				</ul>
			</div>
			<div class="content" style="height:auto">
				{$info.content}
			</div>
		</article>
		
		<!-- 评论显示区 -->
		<if condition="$comments_list neq null">
		<h2 class="comment-h2" id="comment-start">游客评论区</h2>
		<volist name="comments_list" id="comment" key="k">
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">
						<font class="custom-name">
							<if condition="$p eq null">#{$k+(1-1)*3}<else />#{$k+($p-1)*3}</if>
							<if condition="$comment.is_admin neq 1">
								<if condition="$comment.name neq null">
									{$comment.name}
								<else />
									匿名游客
								</if>
							<else />
								<font color="#E74570">站长</font>
							</if>
						</font>
						
						<span>
							{$comment.ctm} / 
							<if condition="$p eq null">
								<a href="javascript:void(0);" class="reply" data-name='#{$k+(1-1)*3}' data-id='{$comment.id}' data-tid='0'>回复</a>
							<else />
								<a href="javascript:void(0);" class="reply" data-name='#{$k+($p-1)*3}' data-id='{$comment.id}' data-tid='0'>回复</a>
							</if>
						</span>
					</h4>
					<div style="margin-top: 1em;">{$comment.content}</div>
					
				</div>
				<if condition="$comment.comment_sec neq null">
					<div class="media-body comment-in">
						<volist name="comment.comment_sec" id="comment_sec" key="k_sec">
							<h4 class="media-heading">
								<if condition="$p eq null">#{$k+(1-1)*3}<else />#{$k+($p-1)*3}</if>-{$k_sec}
								<if condition="$comment_sec.is_admin neq 1">
									<if condition="$comment_sec.name neq null">
										{$comment_sec.name}
									<else />
										匿名游客
									</if>
								<else />
									<font color="#E74570">站长</font>
								</if>
								
								<font color="#5E7CD8">
								{:W('Tool/CommentToName',array($comment_sec['tid']))} 
								</font>
								
								<span>
									{$comment_sec.ctm} /
									<a href="javascript:void(0);" class="reply" data-name='<if condition="$p eq null">#{$k+(1-1)*3}<else />#{$k+($p-1)*3}</if>-{$k_sec}' data-id='{$comment.id}' data-tid='{$comment_sec.id}'>回复</a>
								</span>
							</h4>
							<div style="margin-top: 1em;">{$comment_sec.content}</div>
						</volist>
					</div>
				</if>
				<hr>
			</div>
		</volist>
		<!--end media-->
		<div class="pager" style="margin-top:-4em;text-align: right;"><div>{$page}</div></div>
		</if>
		
		<!-- 填写评论区 -->
		
		<h2 class="comment-h2" style="margin-top:2em;" id="post-comment-start">发表评论</h2>
		<div class="post-comment">
			<form id="post-comment" action="/Home/Article/postComment" method="post">
				<input type="hidden"  name="ArticleComment[aid]" value="{$info.id}">
				<input type="hidden" id="ArticleCommentPid"  name="ArticleComment[pid]" value="0">
				<input type="hidden" id="ArticleCommentTid"  name="ArticleComment[tid]" value="0">
				
				
				<!-- 
				<img alt="" src="/Upload/headimg/1.jpg" class="media-commit-img">
				<div class="form-group">
					<label class="control-label">昵称
					<span style="float:right">(未填写则默认为【匿名游客】)</span>
					<input type="text" class="form-control" name="ArticleComment[name]">
				</div>
				 -->
				
				
				<br>
				<div class="form-group">
					<label class="control-label">邮件</label>
					<span style="float:right">(如填写，当有回复的时会发送邮件提醒)</span>
					<input type="text" class="form-control" name="ArticleComment[email]">
				</div>
				
				
				<br>
				<div class="form-group">
					<label class="control-label">评论信息</label>
					<span style="float:right">(请不要填写空的评论，这样是不会进行处理的)</span>
					<textarea class="col-md-10 form-control" rows="8" name="ArticleComment[content]"></textarea>
				</div>
				<a href="javascript:void(0);" style="border: none;" class="button" id="comment-submit">提交评论</a>
				<a href="javascript:void(0);" style="border: none;display:none" class="button" id="no-obj">取消回复对象</a>
				<a href="javascript:void(0);" style="border: none;float: right;" class="button" id="qq-login">使用QQ登录
					<img src='/Template/css/images/Connect_logo_1.png'>
				</a>
			</form>
		</div>
		
	</div>
</div>


<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shCore.js"></script>

<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushAppleScript.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushAS3.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushColdFusion.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushErlang.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJavaFX.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPerl.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushSass.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushScala.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/SyntaxHighlighter3/scripts/shLegacy.js"></script>

<link href="/Template/admin/plugins/SyntaxHighlighter3/styles/shCoreDefault.css" type="text/css" rel="stylesheet" />
<link href="/Template/css/markdown.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
SyntaxHighlighter.all();

//评论提交
$('#comment-submit').click(function(){
	$('#post-comment').submit();
});

$('.media-heading .reply').click(function(){
	$("html,body").stop(true);
	$("html,body").animate({scrollTop: $("#post-comment-start").offset().top}, 10);
	//
	var id = $(this).attr('data-id');
	var name = $(this).attr('data-name');
	var tid = $(this).attr('data-tid');
	$('#ArticleCommentPid').val(id);
	$('#ArticleCommentTid').val(tid);
	//
	$('#post-comment-start').text('回复'+name);
	$('#post-comment-start').css('color','#E24C6D');
	//
	$('#no-obj').show();
});

$('#no-obj').click(function(){
	$(this).hide();
	$('#ArticleCommentPid').val(0);
	$('#ArticleCommentTid').val(0);
	$('#post-comment-start').text('发表评论');
	$('#post-comment-start').css('color','#1b252a');
});


$("#qq-login").click(function(){
	window.location.href = '{$qq_login_url}';
});

</script>

<if condition="$p neq 0">
<script type="text/javascript">
function mScroll(){
	$("html,body").stop(true);
	$("html,body").animate({scrollTop: $("#comment-start").offset().top-450},100);
} 
mScroll();
</script>
</if>




