<!-- BEGIN CORE PLUGINS -->   
<!--[if lt IE 9]>
<script src="/Template/admin/plugins/respond.min.js"></script>
<script src="/Template/admin/plugins/excanvas.min.js"></script> 
<![endif]-->   
<script src="/Template/admin/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/Template/admin/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>      
<script src="/Template/admin/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
<script src="/Template/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
<script src="/Template/admin/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<script src="/Template/admin/scripts/app.js"></script>      
<script>
	jQuery(document).ready(function() {    
		App.init();
		//iframe框自动适应高度
		$("#frame").load(function(){
			changeFrame();
		});

		function changeFrame(){
			var mainheight = $("#frame").contents().find("body").height()+30;
			$("#frame").height(mainheight);
		}

		//1级菜单的点击事件处理
		$(".menubar").click(function(){
			if($(this).find('.sub-menu').length == 0){
				$(".menubar").removeClass('active');
				$(this).addClass('active');
				//
				var url = $(this).attr('data-src');
				alert(url);
				$("#frame").attr('src',url);
			}
		});

		//2级菜单的点击事件处理
		$(".menubar .sub-menu li").click(function(){
			$(".menubar").removeClass('active');
			$(".menubar .sub-menu li").removeClass('active');
			$(this).parents('.menubar').addClass('active');
			$(this).addClass('active');
			//
		});

	});
</script>