<!-- BEGIN CORE PLUGINS -->   
<!--[if lt IE 9]>
<script src="/Template/admin/plugins/respond.min.js"></script>
<script src="/Template/admin/plugins/excanvas.min.js"></script> 
<![endif]-->   
<script src="/Template/admin/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/Template/admin/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>      
<script src="/Template/admin/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
<script src="/Template/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
<script src="/Template/admin/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/Template/admin/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<script src="/Template/admin/scripts/app.js"></script>      
<script>
	jQuery(document).ready(function() {    
		App.init();
		
		//循环执行任务
		var task;
		
		//iframe框自动适应高度
		$("#frame").load(function(){
			changeFrame();
			task = setInterval(checkFrameStatus,100);
		});

		function changeFrame(){
			var mainbody = $("#frame").contents().find(".main_body");
			var bodyheight = mainbody.height();
			var addheight = 30;
			if(bodyheight < 400){
				addheight = 100;
			}
			var mainheight = bodyheight+addheight;
			$("#frame").height(mainheight);
		}
		
		function checkFrameStatus(){
			var tableStatusObj = $("#frame").contents().find("#table-status");
			var status = tableStatusObj.attr('data-status');	
			if(status == 'ok'){
				changeFrame();
				clearInterval(task);
			}
		}

		
		//1级菜单的点击事件处理
		$(".menubar").click(function(){
			if($(this).find('.sub-menu').length == 0){
				//菜单为选中样式
				$(".menubar").removeClass('active');
				$(this).addClass('active');
				//修改面包屑
				var name =$(this).attr('data-key');
				$('.breadcrumb li:eq(1) a').text(name);
				$('.breadcrumb li:eq(2)').hide();
				$('.last-icon').hide();
				//修改大标题
				$('.page-title').text(name);
			}
		});

		//2级菜单的点击事件处理
		$(".menubar .sub-menu li").click(function(){
			//菜单为选中样式
			$(".menubar").removeClass('active');
			$(".menubar .sub-menu li").removeClass('active');
			$(this).parents('.menubar').addClass('active');
			$(this).addClass('active');
			//选中的名称
			var name = $(this).attr('data-key');
			//修改1级面包屑
			var partenName = $(this).parents('.menubar').attr('data-key');
			$('.breadcrumb li:eq(1) a').text(partenName);
			//修改2级面包屑
			$('.last-icon').show();
			$('.breadcrumb li:eq(2)').show();
			$('.breadcrumb li:eq(2) a').text(name);
			//修改大标题
			$('.page-title').text(name);
		});
		
	});
</script>