<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->        
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search" action="extra_search.html" method="POST">
				<div class="form-container">
					<div class="input-box">
						<a href="javascript:;" class="remove"></a>
						<input type="text" placeholder="请输入搜索内容"/>
						<input type="button" class="submit" value=" "/>
					</div>
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		
		<volist name="sidebar" id="bar">
			<!-- active | active_bar -->
			<if condition="$bar.key eq $active_bar">
				<li class="menubar active">
			<else />
				<li class="menubar">
			</if>
				<if condition="$bar.child eq null">
					<a target="frame" href="{$bar.url}">
				<else />
					<a href="javascript:;">	
				</if>
					<i class="fa {$bar.icon}"></i> 
					<span class="title">{$bar.name}</span>
					<span class="selected"></span>
					<if condition="$bar.child neq null">
						<span class="arrow "></span>
					</if>
				</a>
				<if condition="$bar.child neq null">
					<ul class="sub-menu">
						<volist name="bar.child" id="child">
							<li>
								<a target="frame" href="{$child.url}">{$child.name}</a>
							</li>
						</volist>
					</ul>
				</if>
			</li>
		</volist>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>
