<li class="dropdown user">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	<img alt="" style="width: 29px;height:29px;" src="{$admin_info['headimg']}"/>
	<span class="username">{$admin_info['name']}</span>
	<i class="fa fa-angle-down"></i>
	</a>
	<ul class="dropdown-menu">
		<li><a href="extra_profile.html"><i class="fa fa-user"></i> 个人资料</a></li>
		<li><a href="inbox.html"><i class="fa fa-envelope"></i> 我的邮箱 <span class="badge badge-danger">3</span></a></li>
		<li class="divider"></li>
		<li><a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> 全屏</a></li>
		<li><a href="<?php echo U('Admin/lock'); ?>"><i class="fa fa-lock"></i> 注销</a></li>
		<li><a href="<?php echo U('Admin/logout'); ?>"><i class="fa fa-key"></i> 退出</a></li>
	</ul>
</li>