<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>fullPage.js — 回调函数演示_dowebok</title>
<link rel="stylesheet" href="__ROOT__/Template/css/jquery.fullPage.css">
<style>
.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}
.section2 p { position: relative; left: -120%;}
.section3 p { position: relative; bottom: -120%;}
.section4 p { display: none;}
</style>
<script src="__ROOT__/Template/js/jquery-1.9.1.min.js"></script>
<script src="__ROOT__/Template/js/jquery.fullPage.min.js"></script>
<script src="__ROOT__/Template/js/jquery.easing.min.js"></script>
<script>
$(function(){
	$('#dowebok').fullpage({
		sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#f90'],
		afterLoad: function(anchorLink, index){
			if(index == 2){
				$('.section2').find('p').delay(500).animate({
					left: '0'
				}, 1500, 'easeOutExpo');
			}
			if(index == 3){
				$('.section3').find('p').delay(500).animate({
					bottom: '0'
				}, 1500, 'easeOutExpo');
			}
			if(index == 4){
				$('.section4').find('p').fadeIn(2000);
			}
		},
		onLeave: function(index, direction){
			if(index == '2'){
				$('.section2').find('p').delay(500).animate({
					left: '-120%'
				}, 1500, 'easeOutExpo');
			}
			if(index == '3'){
				$('.section3').find('p').delay(500).animate({
					bottom: '-120%'
				}, 1500, 'easeOutExpo');
			}
			if(index == '4'){
				$('.section4').find('p').fadeOut(2000);
			}
		}
	});
});
</script>
</head>

<body>

<div id="dowebok">
	<div class="section section1">
		<h3>这是一个充满欢笑的地方</h3>
		<p>它诞生于2013年9月1号,一个平凡的一天</p>
	</div>
	<div class="section section2">
		<h3>我的小伙伴们</h3>
		<p>这一天有你们的加入</p>
	</div>
	<div class="section section3">
		<h3>分享快乐和欢笑,分担痛苦与眼泪</h3>
		<p>我们一起走过了1年半的岁月</p>
	</div>
	<div class="section section4">
		<h3>我想对你们说</h3>
		<p>我爱你们</p>
	</div>
</div>


</body>
</html>