<head>
	<title>魔王的傻逼主页</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href="__ROOT__/Template/css/style-font.css" rel="stylesheet" />
	<link href="__ROOT__/Template/css/bar.css" rel="stylesheet" />
	<script src="__ROOT__/Template/js/jquery-1.9.1.min.js"></script>
	<script src="__ROOT__/Template/js/config.js"></script>
	<script src="__ROOT__/Template/js/skel.min.js"></script>
	<script src="__ROOT__/Template/js/skel-ui.min.js"></script>
	<noscript>
		<link rel="stylesheet" href="__ROOT__/Template/css/skel-noscript.css" />
		<link rel="stylesheet" href="__ROOT__/Template/css/style.css" />
		<link rel="stylesheet" href="__ROOT__/Template/css/style-desktop.css" />
		<link rel="stylesheet" href="__ROOT__/Template/css/style-wide.css" />
	</noscript>
	<link rel="shortcut icon" href="__ROOT__/favicon.ico">
	<!--[if lte IE 9]><link rel="stylesheet" href="__ROOT__/Template/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><script src="__ROOT__/Template/js/html5shiv.js"></script><link rel="stylesheet" href="__ROOT__/Template/css/ie8.css" /><![endif]-->
	<!--[if lte IE 7]><link rel="stylesheet" href="__ROOT__/Template/css/ie7.css" /><![endif]-->

	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?1260119a1b7deed45e32b762de63f4f3";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	
	<meta property="qc:admins" content="351427643765005655163757" />
	<script type="text/javascript"
src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101215106" data-redirecturi="http://www.500efuma.com/Home/Index/index" charset="utf-8"></script>
</head>