<nav id="nav">
	<ul>
		<if condition="($action eq 'index')">
			<li class="current_page_item"><a href="/Home/Index/index">最近发表</a></li>
		<else /> 
			<li ><a href="/Home/Index/index">最近发表</a></li>
		</if>
		
		
		<if condition="($action eq 'listinfo')">
			<li class="current_page_item"><a href="/Home/Index/listinfo">文章列表</a></li>
		<else /> 
			<li ><a href="/Home/Index/listinfo">文章列表</a></li>
		</if>
		
		
		<if condition="($action eq 'me')">
			<li class="current_page_item"><a href="/Home/Index/me">关于我</a></li>
		<else /> 
			<li ><a href="/Home/Index/me">关于我</a></li>
		</if>
		
		<if condition="($action eq 'links')">
			<li class="current_page_item"><a href="/Home/Index/links">友情链接</a></li>
		<else /> 
			<li ><a href="/Home/Index/links">友情链接</a></li>
		</if>
		
	</ul>
</nav>