<div id="content">
	<div id="content-inner">
			<!-- Post -->
			<!-- 文章列表 -->
			<article class="is-post is-post-excerpt">
				<header>
					<h2><a href="#">如何用各种编程语言杀死一条龙??</a></h2>
					<span class="byline">这篇有趣的文章编译自一篇西班牙博客。</span>
				</header>
				<div class="info">
					<span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">1</span><span class="year">, 2013</span></span>
					<ul class="stats">
						<li><a href="#" class="link-icon24 link-icon24-1">1</a></li>
						<li><a href="#" class="link-icon24 link-icon24-2">24</a></li>
					</ul>
				</div>
				<!-- <a href="#" class="image image-full"><img src="images/n33-robot-invader.jpg" alt="" /></a> -->
				<p>
					有一位美丽的公主，被关押在一个城堡中最高的塔上，一条凶恶的巨龙看守着她，需要有一位勇士营救她…下面是各种语言如何想办法将公主从巨龙手中营救出来的。Java – 赶到那里，找到巨龙，开发出一套由多个功能层组成的恶龙歼灭框架，写几篇关于这种框架的文章…但巨龙并没有被消灭掉。
				</p>
			</article>
	
			<!-- Post -->
			<article class="is-post is-post-excerpt">
				<header>
					<h2><a href="#">揭秘谷歌实习生活：待遇高压力小</a></h2>
					<span class="byline">美国科技博客BusinessInsider周四发表题目为“谷歌前实习生揭秘在谷歌实习的真实体验”</span>
				</header>
				<div class="info">
					<span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">2</span><span class="year">, 2013</span></span>
					<ul class="stats">
						<li><a href="#" class="link-icon24 link-icon24-1">2</a></li>
						<li><a href="#" class="link-icon24 link-icon24-2">24</a></li>
					</ul>
				</div>
				<a href="#" class="image image-full"><img src="__ROOT__/Upload/20130124074626790.jpg" alt="" /></a>
				<p>
					如果你做过实习生，或者看过电影《穿普拉达的女王》(The Devil Wears Prada)，你就会知道：一名实习生的工作无非就是帮别人倒杯咖啡，复印些文件，做一些正式员工不喜欢做的工作。这些似乎在告诉实习生，将来真正步入社会后的工作将是什么样子。如果实习生真正融入实习生活中，有时会学会不少技巧，结交不少朋友，这对于未来的工作大有裨益。但有时，实习的收获并不大。
				</p>
			</article>

			<!-- Post -->
			<article class="is-post is-post-excerpt">
				<header>
					<h2><a href="#">「中二病也想谈恋爱！戀」正式PV公开 凸守手办化决定</a></h2>
					<!-- <span class="byline">美国科技博客BusinessInsider周四发表题目为“谷歌前实习生揭秘在谷歌实习的真实体验”</span> -->
				</header>
				<div class="info">
					<span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">3</span><span class="year">, 2013</span></span>
					<ul class="stats">
						<li><a href="#" class="link-icon24 link-icon24-1">3</a></li>
						<li><a href="#" class="link-icon24 link-icon24-2">24</a></li>
					</ul>
				</div>
				<!-- <a href="#" class="image image-full"><img src="images/28081804_iJAk.jpg" alt="" /></a> -->
				<p>
					C85上雪崩PV之一是2期动画「中二病也想谈恋爱！戀」的预告PV，在看过各种CM、Lite版之后，再来看看正式的全长PV吧！　此外，此前预告过的京阿尼第2弹手办已经公开，确定手办的原型是凸守！目前手办已经公开，1月8日起预售，正式发售将在2014年7月。
				</p>
			</article>

			<!-- Post -->
			<article class="is-post is-post-excerpt">
				<header>
					<h2><a href="#">1月新番「未确认进行式」完整版洗脑OP主题曲动画公开</a></h2>
				</header>
				<div class="info">
					<span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">4</span><span class="year">, 2013</span></span>
					<ul class="stats">
						<li><a href="#" class="link-icon24 link-icon24-1">3</a></li>
						<li><a href="#" class="link-icon24 link-icon24-2">24</a></li>
					</ul>
				</div>
				<p>
					在公开了第2弹预告PV之后，动画「未确认进行式」（未確認で進行形，或译：未经确认的渐进形式）再次共公开了动画中OP「困惑→食谱」（とまどい→レシピ）的完整版MV。这首OP由V家P主Junky担当，由照井春佳、松井恵理子、吉田有里演唱。网友大呼洗脑！想要被洗脑的朋友快戳头图吧！
				</p>
			</article>

			<!-- Post -->
			<article class="is-post is-post-excerpt">
				<header>
					<h2><a href="#">奸笑社C85首爆「舰队Collection」美尻舰娘岛风手办</a></h2>
				</header>
				<div class="info">
					<span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">5</span><span class="year">, 2013</span></span>
					<ul class="stats">
						<li><a href="#" class="link-icon24 link-icon24-1">3</a></li>
						<li><a href="#" class="link-icon24 link-icon24-2">24</a></li>
					</ul>
				</div>
				<p>
					在12月29日-12月31日召开的东京国际同人展C85上，奸笑社展示了最新的「舰队Collection」舰娘岛风的1/8手办灰模，手办具体发售时间和价格未定。这款手办还原了Fapri杂志封面上岛风娘的造型，微微抬起的臀部尽显岛风的美尻！摄影君也为大家带来了地球君视角！~\(≧▽≦)/~
				</p>
			</article>
		<!-- Pager -->
			<div class="pager">
				<!--<a href="#" class="button previous">Previous Page</a>-->
				<div class="pages">
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<span>&hellip;</span>
					<a href="#">20</a>
				</div>
				<a href="#" class="button next">Next Page</a>
			</div>
	</div>
</div>