<div id="content">
	<div id="content-inner">
		<!-- 文章列表 -->
		<volist name="list" id="article">
			<article class="is-post is-post-excerpt">
				<header>
					<h2><a href="#">{$article.title}</a></h2>
					<span class="byline">这篇有趣的文章。</span>
				</header>
				<div class="info">
					<span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">1</span><span class="year">, 2013</span></span>
					<ul class="stats">
						<li><a href="#" class="link-icon24 link-icon24-1">42</a></li>
						<li><a href="#" class="link-icon24 link-icon24-2">24</a></li>
					</ul>
				</div>
				<p>
					{$article.content}
				</p>
			</article>
		</volist>
			
		<!-- Pager -->
		<div class="pager">{$page}</div>
		 	
	</div>
</div>