<div id="content">
	<div id="content-inner">
	
		<!-- 文章列表 -->
		<volist name="list" id="mon">
		<article class="is-post is-post-excerpt">
			<div class="info">
				<span class="date" id="date_postlist">
					<span class="month">{$mon.ctm_M}<span>{$mon.ctm_F}</span></span> 
					<span class="year">, {$mon.ctm_Y}</span>
				</span>
				<ul class="stats">
					<li><a href="#" class="link-icon24 link-icon24-1">{$mon.count_comments}</a></li>
				</ul>
			</div>
			<header class="postlist">
				<volist name="mon.article_list" id="article">
					<h2><a href="/Home/Article/view/id/{$article.id}">{$article.title}</a></h2>
				</volist>
			</header>
		</article>
		</volist>

		<!-- Pager -->
		<div class="pager">{$page}</div>

	</div>
</div>