<div id="content">
	<div id="content-inner">
			<!-- 基本信息 -->
			<article class="is-post is-post-excerpt">
				<div class="info">
					<span class="date" id="date_postlist">
						<span class="month">基本信息<span></span></span> 
					</span>
				</div>
				<header class="postlist">
					<div class="resume-group">
						<div class="resume-label">网名:</div>
						<div class="resume-info">{$info.name}</div>
					</div>
					<div class="resume-group">
						<div class="resume-label">称谓:</div>
						<div class="resume-info">{$info.profession}</div>
					</div>
					<div class="resume-group">
						<div class="resume-label">出生日期:</div>
						<div class="resume-info">{$info.birthday|strtotime|date='Y.m.d',###}</div>
					</div>
					<div class="resume-group">
						<div class="resume-label">电子信箱:</div>
						<div class="resume-info">{$info.email}</div>
					</div>
				</header>
				<div style="height:1em;"></div>
			</article>
			<!-- 天赋技能 -->
			<article class="is-post is-post-excerpt">
				<div class="info">
					<span class="date" id="date_postlist">
						<span class="month">天赋技能<span></span></span> 
					</span>
				</div>
				<header class="postlist">
				
					<volist name="skill_list" id="skill">
					<div class="resume-group">
						<div class="resume-label">{$skill.title}</div>
						<div class="resume-info">
							<div class="resume-bar">
								<div class="slider-bg bg-grey"></div>
								<div class="slider-bar color-bar animate-bar" style="width:{$skill.value}%"></div>
							</div>
						</div>
					</div>
					</volist>
					
					<div style="height:1em;"></div>
				</header>
			</article>
			<!-- 历史成就 -->
			<article class="is-post is-post-excerpt">
				<div class="info">
					<span class="date" id="date_postlist">
						<span class="month">历史成就<span></span></span> 
					</span>
				</div>
				<header class="postlist">
					<volist name="company_list" id="company">
					<div class="work-info">
						<h2>{$company.name} &nbsp&nbsp ({$company.stm|strtotime|date='Y.m.d',###} -- {$company.etm|strtotime|date='Y.m.d',###})</h2>
						<span class="work-time">{$company.work}</span>
						<p style="margin-top: 0.4em;">{$company.achievement}</p>
					</div>
					</volist>
				</header>
				<div style="height:1em;"></div>
			</article>
			<!-- 首领击杀 -->
			<article class="is-post is-post-excerpt">
				<div class="info">
					<span class="date" id="date_postlist">
						<span class="month">首领击杀<span></span></span> 
					</span>
				</div>
				<header class="postlist">
					<volist name="project_list" id="project">
					<div class="work-info">
						<h2><a href="{$project.url}" target="_blank">{$project.title}</a> &nbsp&nbsp ({$project.stm|strtotime|date='Y.m.d',###} -- {$project.etm|strtotime|date='Y.m.d',###})</h2>
						<span class="work-time">{$project.technology_used}</span>
						<p style="margin-top: 0.4em;">{$project.content}</p>
					</div>
					</volist>
				</header>
			</article>
	</div>
</div>