<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/Template/admin/plugins/select2/select2_metro.css" />
<link rel="stylesheet" href="/Template/admin/plugins/data-tables/DT_bootstrap.css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE CONTENT-->
<div id="table-status" style="display:none;"></div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-reorder"></i>友链列表信息</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="btn-group">
						<a href="<?php echo U('Links/create'); ?>" class="btn green">新增 <i class="fa fa-plus"></i></a>
					</div>
					<div class="btn-group pull-right">
						<button id="delete_all_button" class="btn red">
						删除 <i class="fa fa-trash-o"></i>
						</button>
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover" id="dblist">
					<thead>
						<tr>
							<th class="table-checkbox"><input type="checkbox" class="group-checkable" data-set="#dblist .checkboxes" /></th>
							<th>友链名称</th>
							<th>地址</th>
							<th>简单描述</th>
							<th>邮箱</th>
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT-->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/Template/admin/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/data-tables/jquery.dataTables.1.10.2.js"></script>
<script type="text/javascript" src="/Template/admin/plugins/data-tables/DT_bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script>
jQuery(document).ready(function() {    
	
	$('.sendEmail').live('click', function() { 
		var id =  $(this).attr('data-id');
		$.ajax({
			type:'post',
			url:'../Links/sendMail',
			dataType:"json", 
			data:{
				'id' : id,
			},
			success:function(data){
				alert(data['msg']);
			}   
		});
	});
	
    $('#dblist').dataTable({
    	"bAutoWidth":true,
        "aoColumns": [
          { "bSortable": false },
          { "bSortable": false },
          { "bSortable": false },
          { "bSortable": false },
          { "bSortable": false },
          { "bSortable": false },
          { "bSortable": false },
          { "bSortable": false },
        ],
        "bProcessing": true,//开关，以指定当正在处理数据的时候，是否显示“正在处理”这个提示信息
		"serverSide": true,
		"ajax": "../Links/jsondb",
		//表格加载完成后的回调函数
		"fnDrawCallback":function(){
			//在这里重新初始化checkbox
			$("#dblist .checkboxes").uniform();
			//ajax表格加载完成后设置完成的标志，以便外层js获取状态改变iframe高度
			$("#table-status").attr('data-status','ok');
		},
        "iDisplayLength": 10,//每页显示个数
        "bLengthChange":false,//去掉选取每页显示个数
        "bInfo":false,//去掉左下角页脚信息
        "bFilter":false,//去掉过滤功能
        "bSort": false,
        "sPaginationType": "bootstrap",
        "oLanguage": {
        	"sProcessing": "正在加载中......",
            "sZeroRecords": "对不起，查询不到相关数据！",
            "sEmptyTable": "表中无数据存在！",
            "oPaginate": {
                "sPrevious": "上一页",
                "sNext": "下一页"
            }
        },
        "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }
        ]
    });

    jQuery('#dblist .group-checkable').change(function () {
        var set = jQuery(this).attr("data-set");
        var checked = jQuery(this).is(":checked");
        jQuery(set).each(function () {
            if (checked) {
                $(this).attr("checked", true);
            } else {
                $(this).attr("checked", false);
            }
            $(this).parents('tr').toggleClass("active");
        });
        jQuery.uniform.update(set);
    });

    jQuery('#dblist tbody tr .checkboxes').change(function(){
         $(this).parents('tr').toggleClass("active");
    });

});
</script>