<!DOCTYPE HTML>
<html>
	<include file="Public:HEADER" />
	<body class="left-sidebar">
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Content -->
			{__CONTENT__}	
			<!-- Sidebar -->
			<div id="sidebar">
				<!-- Logo -->
				<div id="logo">
					<h1>500efuma</h1>
				</div>
				<include file="Public:SIDEBAR" />
				<include file="Public:SEARCH" />
				<include file="Public:TEXT" />
				<include file="Public:TAGS" />
				<include file="Public:RECENT_POSTS" />
				<include file="Public:CALENDAR" />
				<include file="Public:COPYRIGHT" />
			</div>
		</div>
	</body>
</html>